button {
    font-family: "Open Sans", sans-serif;
    font-weight: bold; }

html, body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    letter-spacing: 0.015em; }

.section {
    position: relative;
    min-height: 100vh; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #afab25; }




.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../img/general-bg.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4)), url(../img/general-bg.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4)), url(../img/general-bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../img/general-bg.jpg);
    -webkit-background-size: cover , cover;
    background-size: cover , cover;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative; }
.main__text {
    text-align: center; }
.main__title {
    font-family: "Times New Roman", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.8px; }
.main__subtitle {
    opacity: 0.77;
    font-size: 1rem; }
.main__icon {
    color: #fff188;
    position: absolute;
    left: 0.5rem;
    top: 35%;
    width: 1rem !important; }
.main__form {
    background: #6c7486;
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #6c7486), color-stop(0%, #6c7486), color-stop(100%, #8a8c8e));
    background: -webkit-linear-gradient(-45deg, #6c7486 0%, #6c7486 0%, #8a8c8e 100%);
    background: -o-linear-gradient(-45deg, #6c7486 0%, #6c7486 0%, #8a8c8e 100%);
    background: -webkit-linear-gradient(315deg, #6c7486 0%, #6c7486 0%, #8a8c8e 100%);
    background: -o-linear-gradient(315deg, #6c7486 0%, #6c7486 0%, #8a8c8e 100%);
    background: linear-gradient(135deg, #6c7486 0%, #6c7486 0%, #8a8c8e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c7486', endColorstr='#8a8c8e', GradientType=1 );
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 1rem;
    width: 70%;
    margin-bottom: 8rem; }
.main__form label {
    position: absolute;
    right: 0.5rem;
    top: 43%;
    max-width: 40%;
    color: #505760;
    opacity: 1;
    z-index: 1;
    font-size: 0.6rem;
    text-align: right;
    font-weight: bold; }
.main__form > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
    margin: 0;
    padding: 0;
    position: relative; }
.main__form > * > * {
    width: 100%;
    margin: 0;
    padding: 0; }
.main__form select, .main__form input {
    padding: 0.8rem 1rem;
    padding-left: 2rem;
    font-weight:bold;
    color: #505760;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin-top: 0.5rem;
    background-color: rgba(194, 196, 197, 0.5);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    opacity: 0.9; }
.main__form select:hover, .main__form select:focus, .main__form select:active, .main__form input:hover, .main__form input:focus, .main__form input:active {
    outline: none;
    border: 1px solid transparent; }
.main__form select:hover .label, .main__form select:focus .label, .main__form select:active .label, .main__form input:hover .label, .main__form input:focus .label, .main__form input:active .label {
    color: #f00; }
.main__form select::-webkit-input-placeholder, .main__form input::-webkit-input-placeholder {
    opacity: 0.9; }
.main__form select::-moz-placeholder, .main__form input::-moz-placeholder {
    opacity: 0.9; }
.main__form select:-ms-input-placeholder, .main__form input:-ms-input-placeholder {
    opacity: 0.9; }
.main__form select::-ms-input-placeholder, .main__form input::-ms-input-placeholder {
    opacity: 0.9; }
.main__form select::placeholder, .main__form input::placeholder {
    opacity: 0.9; }
.main__form select::-moz-placeholder, .main__form input::-moz-placeholder {
    opacity: 0.9; }
.main__form input {
    padding-left: 1rem; }
.main__form input[type=submit] {
    background-color: #fff188;
    font-weight: bold;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
.main__form input[type=submit]:hover {
    background-color: #ffeb55; }
.main__for {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
    font-size: 0.8rem;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0; }
.main__link {
    text-decoration: underline;
    color: #fff;
    display: block;
    margin: auto;
    width: 50%; }
.main__link:hover {
    color: #fff; }

.swiper-container {
    width: 75%;
    min-height: 80vh; }

.swiper-slide {
    margin-left: 1rem;
    margin-right: 1rem; }

.swiper-button-prev {
    background-image: url(../img/left.png);
    width: 34px;
    height: 24px;
    -webkit-background-size: contain;
    background-size: contain;
    top: 87%;
    left: 30%; }

.swiper-button-next {
    background-image: url(../img/right.png);
    width: 34px;
    height: 24px;
    -webkit-background-size: contain;
    background-size: contain;
    top: 87%;
    left: 35%; }

.swiper-pagination {
    width: 10%;
    bottom: 13%;
    left: 1rem; }

.slider {
    -webkit-background-size: 300px , 100%;
    background-size: 300px , 100%;
    background-repeat: no-repeat;
    min-height: 100%; }

.slider-1 {
    background-image: url(../img/stars.png), url(../img/fon-levo.png);
    background-position: 95% 5% , 0% 100%; }

.slider-2 {
    background-image: url(../img/tortila.png), url(../img/fon-pravo.png);
    background-position: 5% 5% , 0% 50%; }
.slider-2 .swiper-slide__img {
    margin-left: 30%; }
.slider-2 .swiper-slide__block {
    right: 50%;
    z-index: 4; }
.slider-2 .swiper-button-prev {
    left: 60%; }
.slider-2 .swiper-button-next {
    left: 65%; }
.slider-2 .swiper-pagination {
    bottom: 13%;
    left: 80%; }

.slider-3 {
    background-image: url(../img/stars2.png), url(../img/fon-levo.png);
    background-position: 95% 5% , 0% 100%; }

.slider-4 {
    background-image: url(../img/delphy.png), url(../img/fon-pravo.png);
    background-position: 5% 5% , 0% 50%; }
.slider-4 .swiper-slide__img {
    margin-left: 30%; }
.slider-4 .swiper-slide__block {
    right: 50%;
    z-index: 4; }
.slider-4 .swiper-button-prev {
    left: 60%; }
.slider-4 .swiper-button-next {
    left: 65%; }
.slider-4 .swiper-pagination {
    bottom: 13%;
    left: 80%; }

.slider-5 {
    background-image: url(../img/stars3.png), url(../img/fon-levo.png);
    background-position: 95% 5% , 0% 0%; }

.slider-6 {
    background-image: url(../img/stars.png), url(../img/fon-pravo.png);
    background-position: 5% 5% , 0% 50%; }
.slider-6 .swiper-slide__img {
    margin-left: 30%; }
.slider-6 .swiper-slide__block {
    right: 50%;
    z-index: 4; }
.slider-6 .swiper-button-prev {
    left: 60%; }
.slider-6 .swiper-button-next {
    left: 65%; }
.slider-6 .swiper-pagination {
    bottom: 13%;
    left: 80%; }

.swiper-slide {
    position: relative; }
.swiper-slide__img {
    width: 65%;
    height: 100%; }
.swiper-slide__img img {
    width: 100%; }
.swiper-slide__block {
    position: absolute;
    right: 10%;
    top: 10vh;
    padding: 3rem;
    background-color: #fff;
    width: 30%;
    z-index: 2; }
.swiper-slide__block > span {
    color: #c0a59a;
    font-size: 4rem;
    font-style: italic;
    opacity: 50%;
    margin: 0;
    margin-bottom: 1rem; }
.swiper-slide__block h2 {
    color: #746e6a;
    font-size: 1.7rem;
    margin: 0;
    margin-bottom: 2rem; }
.swiper-slide__block p {
    font-weight: bold; }
.swiper-slide__block ul {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    color: #c0a59a; }
.swiper-slide__block ul span {
    color: #000;
    font-weight: 200;
    font-size: 0.8rem;
    color: #44403d; }
.swiper-slide__block a {
    background-color: #fff188;
    font-weight: bold;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
    padding: 0.7rem 1.2rem;
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    margin-left: 5%;
    color: #000;
    text-decoration: none;
    display: inline-block;
    text-align: center; }
.swiper-slide__block a:hover {
    background-color: #ffeb55; }

.review {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1))), url(../img/review.png);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1)), url(../img/review.png);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1)), url(../img/review.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1)), url(../img/review.png);
    -webkit-background-size: cover, cover;
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: 0% 0%; }
.review__section {
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; */
    width: 100%;
    /* -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center; */
    /*align-items: center;*/
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box; }
.review__slider{
    max-width: 100%;
}
.review__block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    background-color: #fff;
    margin: 1rem;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
    padding-bottom: 3rem;
    max-width: 70%;
    margin: auto;
    margin-bottom: 2rem; }
.review__block::after {
    content: "";
    position: absolute;
    bottom: -0.4rem;
    left: 10%;
    width: 80%;
    height: 0.8rem;
    background-color: #dfd2cd;
    z-index: 2; }
.slick-arrow{
    position: absolute;
    top: 50%;
}
.slick-prev{
    left: 5%;
}
.slick-next{
    right: 5%;
}
.review__stars {
    padding: 0.5rem 0 1.5rem;
    color: #f36100; }
.review__text {
    font-size: "Open Sans", sans-serif;
    color: #3f3f3f;
    font-size: 0.85rem;
    opacity: 0.7;
    line-height: 1.2rem; }
.review__name {
    color: #050505;
    font-size: 0.85rem;
    line-height: 1.7rem;
    font-style: italic;
    opacity: 0.75; }
.review__link {
    color: #746e6a;
    opacity: 0.75;
    font-size: 0.85rem;
    font-style: italic; }
.review__link:hover {
    color: #746e6a; }
.review__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.map {
    position: relative; }
.map__block {
    position: absolute;
    height: 100%;
    width: 20vw;
    left: 10%;
    background-color: #fff;
    z-index: 3;
    top: 0; }
.map__block ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 2rem; }
.map__block ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #dfd2cd; }
.map__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 2rem;
    font-size: 1rem;
    color: #746e6a; }
.map__item a {
    color: #746e6a;
    opacity: 0.75;
    font-style: italic;
    font-size: 0.8rem; }
.map__iframe-snazy{
    position: relative;
    z-index: 1;
}.map__iframe{
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: 0;
 }
.map__iframe.active{
    z-index: 2;}

input[type="date"]{
    padding-left: 2rem;}
input[type="date"]::-webkit-datetime-edit{
    padding-left: 2rem;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
}



.forsale {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../img/forsale.png);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/forsale.png);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/forsale.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/forsale.png);
    -webkit-background-size: cover;
    background-size: cover; }
.forsale__title {
    color: #fff;
    font-size: 1.9rem;
    font-family: "Times New Roman", sans-serif;
    text-align: center; }
.forsale__form {
    width: 30%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    min-height: 60%; }
.forsale__form label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.6); }
.forsale__form input {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.forsale__form input:hover, .forsale__form input:focus, .forsale__form inputactive {
    background-color: rgba(255, 255, 255, 0.6);
    color: #fff;
    outline: none; }
.forsale__form input[type=submit] {
    background-color: #fff188;
    color: #000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 1.1rem; }
.forsale__form input[type=submit]:hover {
    background-color: #ffeb55; }

.mouse {
    position: absolute;
    right: 0;
    bottom: 4rem;
    left: 0;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22px;
    height: 40px;
    margin: 50px auto 0;
    border: 2px solid #837f7c;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    z-index: 4; }
.mouse .whell {
    display: block;
    width: 4px;
    height: 4px;
    margin: 10px auto 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #837f7c; }
.mouse .scroll {
    display: block;
    margin: 2px auto 0;
    -webkit-animation: scroll 1.5s infinite;
    animation: scroll 1.5s infinite; }
.mouse .scroll:before, .mouse .scroll:after {
    display: block;
    width: 4px;
    height: 4px;
    margin: auto;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 1px solid #837f7c;
    border-bottom: 1px solid #837f7c; }

.main .mouse {
    border: 2px solid #ffffff; }
.main .mouse .whell {
    background: #ffffff; }
.main .mouse .scroll:before, .main .mouse .scroll:after {
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff; }
#menum{
    display: none;
}
.swiper-slide__block a:last-of-type{
    display: none;
}
.map__mouse{
    display: none;
}
@media screen and (max-width: 1600px) {
    .swiper-slide__block {
        top: 0;
        right: 5%;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4); }
    .slider .swiper-button-prev {
        top: 60%;
        left: 15%; }
    .slider .swiper-button-next {
        top: 60%;
        left: 20%; }
    .slider .swiper-pagination {
        bottom: 40%;
        left: 05%; }
    .slider-2 .swiper-slide__img {
        margin-left: 40%; }
    .slider-2 .swiper-slide__block {
        right: 40%;
        top: 0;
        z-index: 4; }
    .slider-2 .swiper-button-prev {
        top: 60%;
        left: 65%; }
    .slider-2 .swiper-button-next {
        top: 60%;
        left: 70%; }
    .slider-2 .swiper-pagination {
        bottom: 40%;
        left: 80%; }
    .slider-4 .swiper-slide__img {
        margin-left: 40%; }
    .slider-4 .swiper-slide__block {
        right: 40%;
        z-index: 4; }
    .slider-4 .swiper-button-prev {
        top: 60%;
        left: 65%; }
    .slider-4 .swiper-button-next {
        top: 60%;
        left: 70%; }
    .slider-4 .swiper-pagination {
        bottom: 40%;
        left: 80%; }
    .slider-6 {
        background-image: url(../img/stars.png), url(../img/fon-pravo.png);
        background-position: 20% 10% , 0% 50%; }
    .slider-6 .swiper-slide__img {
        margin-left: 40%; }
    .slider-6 .swiper-slide__block {
        right: 40%; }
    .slider-6 .swiper-button-prev {
        top: 60%;
        left: 65%; }
    .slider-6 .swiper-button-next {
        top: 60%;
        left: 70%; }
    .slider-6 .swiper-pagination {
        bottom: 40%;
        left: 80%; }
    .swiper-slide__block {
        width: 40%;
        right: 10%; }
    .swiper-slide__img {
        /* max-width: 50%; */
    max-width: 60%; }
    .main__form {
        width: 80%; } }

@media screen and (max-width: 1400px) {
    html, body {
        font-size: 15px; }
    .map__block {
        width: 30vw;
        left: 5vw; } }

@media screen and (max-width: 1000px) {
    .section {
        position: relative;
        min-height: 80vh; }
    .map__block {
        width: 40vw; }
    .map__form {
        width: 90%; }
    .forsale__form {
        width: 50%; } }

@media screen and (max-height: 700px) {
    .swiper-slide__block{margin-top: 1rem;}
    .swiper-slide__block ul{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;}

    .swiper-slide__block ul li{
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
        break-inside: avoid-column;}
.mouse {
          bottom: 1rem; }
    .slider .swiper-pagination {
        bottom: 25%; }
    .slider .swiper-button-prev {
        top: 75%; }
    .slider .swiper-button-next {
        top: 75%; } }

@media screen and (max-width: 899px) {
    .swiper-slide__block {
        position: static;
        width: 70%;
        margin: auto; }
    .swiper-slide__block ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px; }
    .swiper-slide__block ul li{
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
        break-inside: avoid-column;}
    .swiper-slide__img {
        max-width: 80%;
        width: 80%;
        margin: auto; }
    .slider-2 .swiper-slide__img, .slider-4 .swiper-slide__img, .slider-6 .swiper-slide__img {
        max-width: 80%;
        width: 80%;
        margin: auto; }
    .swiper-container {
        width: 80%; }
    .slider .swiper-pagination {
        bottom: 30%; }
    .slider .swiper-button-prev {
        top: 70%; }
    .slider .swiper-button-next {
        top: 70%; }
    .mouse {
        display: none; }
    .main__form > * {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 25%;
        -ms-flex: 1 1 25%;
        flex: 1 1 25%;
        margin: 0.5rem; }
    .main__form > .main__for {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        width: 100%; }
    .map__block {
        width: 55vw; }
    .slick-slide{
        transition: 0.3s;
        opacity: 0;
    }
    .slick-current{
        opacity: 1;
    }
    .review__block{
        max-width: 100%;
    }
    iframe{
        height: 100vh;
    }
    #menum{
        display: block;
    }#menu{
         display: none;
     }
    .swiper-slide__block a:first-of-type{
        display: none;
    }
    .swiper-slide__block a:last-of-type{
        display: block;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 16px; }
    .review__section {
        padding-top: 10%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .section {
        margin-top: 5rem;
        margin-bottom: 5rem; }
    .section:first-of-type {
        margin-top: 0; }
    .section:last-of-type {
        margin-bottom: 0; }
    .swiper-pagination {
        width: 25%; } }
@media screen and (max-width: 600px) {
    .swiper-container {
        min-height: auto; }
    .section .swiper-pagination {
        bottom: 0;
        left: 0; }
    .section .swiper-button-prev {
        left: 0; }
    .section .swiper-button-next {
        left: 15%; } }

@media screen and (max-width: 450px) {
    .forsale__form {
        width: 65%; } }
.swiper-slide-active{opacity: 1!important;
    transition: 0.5s;}
